
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link rel="stylesheet" href="~/css/jqui.css">
<link rel="stylesheet" href="~/css/pagination.css">
<script src="~/js/jqui.js"></script>
<script src="~/js/pagination.js"></script>

<style>
    .pad-bot {
        padding-bottom: 20px;
    }

    .pad-top {
        padding-top: 20px;
    }
</style>

<div class="alert alert-success" style="font-size:23px;"> Welcome to Admin Portal</div>

<div style="padding:20px;">

    <h2>Sai Matrimony Users </h2>

    <div class="panel panel-default" style="margin-top:15px;background-color:whitesmoke;">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-1"><input id="show-all-users" class="form-control" type="checkbox" /></div>
                <div class="col-sm-1"><div id="show-all-label"> Show All Users</div> </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2"><input id="first-name" class="form-control" type="text" placeholder="first name" /></div>
                <div class="col-sm-2"><input id="last-name" class="form-control" type="text" placeholder="last name" /></div>
                <div class="col-sm-2"><input id="email" class="form-control" type="text" placeholder="email address" /></div>
                <div class="col-sm-2"><button id="searchUser" type="button" class="btn btn-success">Search</button></div>
            </div>
        </div>
    </div>
    <div id="user-table-msg">

    </div>
    <div id="user-table" style="padding-top:10px;font-size:medium;">        
        <div id="wrapper">
            <section style="padding:10px;">
                <div class="data-container"></div>
                <div id="user-pagination"></div>
            </section>
        </div>
    </div>

</div>

<div id="userModalDiv" style="color:white;">
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:1px solid white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="color:white;"> Map Role for <span id="user-name"></span></h4>
                    <div class="lastUpdatedMessage" id="currentRole"></div>
                    <span class="lastUpdatedMessage" id="lastUpdatedUser"></span>
                    <input type="text" hidden="hidden" id="userId" />
                </div>
                <div class="modal-body" id="userModalBody" style="overflow-x: hidden">
                    <div class="row pad-bot pad-top">
                        <div class="col-sm-2">
                            <input type="checkbox" class="form-control" id="basicuser" />
                        </div>
                        <div class="col-sm-10">
                            <div> Grant Access to Sai Matrimony </div>
                        </div>
                    </div>
                    <div class="row pad-bot">
                        <div class="col-sm-2">
                            <input type="checkbox" class="form-control" id="adminuser" />
                        </div>
                        <div class="col-sm-10">
                            <div> Grant Admin to Sai Matrimony </div>
                        </div>
                    </div>
                    <div class="row pad-bot">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" id="adminmsg" style="display:none;">
                                You are about to make this user Admin.
                            </div>
                        </div>
                    </div>
                    <div class="row pad-bot">
                        <div class="col-sm-2">
                            <button id="saveUserRole" type="button" class="btn btn-default save">Save User Access</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/admin/manageuser.js"> </script>

