@model SaiMatrimony.Models.ProfileDetails
@{
    ViewData["Title"] = "Home Page";
    string profileName = Model.ProfileId != 0 ? Model.FirstName + " " + Model.MiddleName +" " + Model.LastName  :  "No Profile Set";
    bool error = ViewBag.error;

}

<link rel="stylesheet" href="~/css/pagination.css">

<style>

    .paginationjs .paginationjs-pages ul {
        margin: auto;
        padding-left: 23px;
    }
    .paginationjs .paginationjs-pages li.active > a {
        background-color:crimson;
    }


    #about .badge {
        background-color:crimson;
        color:white;
    }

    .section-title h2{
        color:hotpink;
    }

    #contact {
        background-color:none;
    }

</style>

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>




<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="home-info">
                    <!--<a href="#about" class="btn section-btn smoothScroll">Start a project</a>
                    <span>
                         CALL US (+66) 010-020-0340
                         <small>For any inquiry</small>
                    </span>-->
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="home-video">
                    <div id="search-pane" style="background:linear-gradient(to right, #434343, #000000);padding:15px;">
                        <!--<iframe src="https://www.youtube.com/embed/AqcjdkPMPJA" frameborder="0" allowfullscreen></iframe>-->

                        <div class="media blog-thumb" style="height:400px;">
                            <h4 style="padding:10px;">Notification <i class="fa fa-bell"></i></h4>
                            <div class="media-body blog-info" style="padding:25px 25px;">                                
                                <h3><a href="~/home/profile?id=@Model.ProfileUserId" style="color:crimson;">Profile : @profileName </a></h3>
                                @{ 
                                    if (error)
                                    {
                                        <div>Error loading profile. contact support</div>
                                    }
                                }
                                <div id="blog-notification-top"></div>
                                <a href="#blog" class="btn section-btn">See All Notifications</a>
                            </div>
                        </div>
                        <div style="padding:10px;">
                            <a href="#about" class="btn section-btn" style="width:150px;padding:8px;background-color:crimson;color:white;">Find a Match</a>                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5" style="min-height:650px;padding-top:40px;">
    <div class="container">
        <div class="row" style="padding:15px;">
            <div class="col-md-3 col-sm-3">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Find a Match</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <span href="#" class="badge search-btn" data-category="all">Show All</span>
            </div>
            <div class="col-md-3 col-sm-3">
                <span href="#" class="search-btn" data-category="proposedbyme">I Proposed Someone</span>
            </div>
            <div class="col-md-3 col-sm-3">
                <span href="#" class="search-btn" data-category="proposedtome">Someone Proposed Me</span>
            </div>
        </div>
        <div class="row" style="padding:10px 15px 10px 15px;">
            <input type="hidden" id="category" value="all" />
            <div class="col-md-3 col-sm-3">
                <input class="form-control" id="matchname-src" type="text" placeholder="Name" />
            </div>
            <div class="col-md-3 col-sm-3">
                <input class="form-control" id="education-src" type="text" placeholder="Education" />
            </div>
            <div class="col-md-3 col-sm-3">
                <input class="form-control" id="profession-src" type="text" placeholder="Profession" />
            </div>
            <div class="col-md-3 col-sm-3">
                <input class="form-control" id="location-src" type="text" placeholder="Location" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- BLOG THUMB -->
                <div id="wrapper">
                    <section style="padding:0px;">
                        <div class="data-container" style="margin-bottom:10px;padding:5px;"></div>
                        <div id="actualflow-pagination"></div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- BLOG -->
<section id="blog" data-stellar-background-ratio="0.5">
     <div class="container">
         <div class="row">

             <div class="col-md-12 col-sm-12">
                 <div class="section-title" style="margin-bottom:20px;">
                     <h2>Notifications <i class="fa fa-bell" style="font-size:20px;"></i></h2>
                 </div>
             </div>

             <div class="col-md-12 col-sm-12">
                 <!-- BLOG THUMB -->
                 <div class="media blog-thumb">
                     <div class="media-body blog-info" style="padding:20px;" id="blog-notification-iproposed">                         
                         
                     </div>
                 </div>
             </div>

         </div>
     </div>
</section>
<!-- WORK -->
<!--<section id="work" data-stellar-background-ratio="0.5">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Our work</h2>
                         <span class="line-bar">...</span>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <!-- WORK THUMB
                    <div class="work-thumb">
                         <a href="images/work-image1.jpg" class="image-popup">
                              <img src="images/work-image1.jpg" class="img-responsive" alt="Work">

                              <div class="work-info">
                                   <h3>Clean &amp; Minimal</h3>
                                   <small>Product Design</small>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="work-thumb">
                         <a href="images/work-image2.jpg" class="image-popup">
                              <img src="images/work-image2.jpg" class="img-responsive" alt="Work">

                              <div class="work-info">
                                   <h3>Studio Bag</h3>
                                   <small>Branding</small>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">a
                    <div class="work-thumb">
                         <a href="images/work-image3.jpg" class="image-popup">
                              <img src="images/work-image3.jpg" class="img-responsive" alt="Work">

                              <div class="work-info">
                                   <h3>Frame Design</h3>
                                   <small>Photography</small>
                              </div>
                         </a>
                    </div>
               </div>

               <div class="col-md-3 col-sm-6">
                    <div class="work-thumb">
                         <a href="images/work-image4.jpg" class="image-popup">
                              <img src="images/work-image4.jpg" class="img-responsive" alt="Work">

                              <div class="work-info">
                                   <h3>Paint Work</h3>
                                   <small>Art, Design</small>
                              </div>
                         </a>
                    </div>
               </div>

          </div>
     </div>
</section>-->

<!-- FOOTER -->
<footer  id="contact"   data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title" style="padding-left:20px;">
                    <h2 >Contact us</h2>
                </div>
            </div>

            <div class="col-md-8 col-sm-8">

                <!-- CONTACT FORM HERE -->
                <form id="contact-form" role="form" action="#" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Full Name" id="cf-name" name="cf-name" required="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" placeholder="Your Email" id="cf-email" name="cf-email" required="">
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="6" placeholder="Your requirements" id="cf-message" name="cf-message" required=""></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" name="submit" value="Send Message">
                    </div>

                </form>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="google-map">
                    <img src="~/images/lotus-feet.jpg" style="height:230px;" />
                    <!-- How to change your own map point
                        1. Go to Google Maps
                        2. Click on your location point
                        3. Click "Share" and choose "Embed map" tab
                        4. Copy only URL and paste it within the src="" field below
                -->
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" allowfullscreen></iframe>*@
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- MODAL -->
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-popup">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="modal-title">
                                <h2>Sai Matrimony</h2>
                            </div>

                            <!-- NAV TABS -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                                <li><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                            </ul>

                            <!-- TAB PANES -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="sign_in">
                                    <form action="#" method="post">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Submit Button">
                                        <a href="https://www.facebook.com/templatemo">Forgot your password?</a>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="sign_up">
                                    <form action="#" method="post">
                                        <input type="text" class="form-control" name="name" placeholder="Name" required>
                                        <input type="text" class="form-control" name="telephone" placeholder="Telephone" required>
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Submit Button">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="modal fade" id="match-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-popup">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Propose a Match
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <input id="proposed-from-id" type="hidden" value="@Model.ProfileUserId" />
                            <input id="proposed-from-name" type="hidden" value="@profileName" />
                            <input id="proposed-to-id" type="hidden" />
                            <input id="proposed-to-name" type="hidden" />
                            <input id="propose-action" type="hidden" value="makeproposal" />
                            <div id="proposed-text" style="color:white"></div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px;">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <button id="match-profile" type="submit">Propose</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- SCRIPTS -->

<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/pagination.js"></script>
<script src="~/js/custom.js"></script>
