

@{
    ViewData["Title"] = "Sign Out";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="alert alert-warning" style="margin:40px;background-color:whitesmoke;">
    <div style="color:darkgreen;font-size:xx-large;padding-bottom:30px;">Signed Out <span class="glyphicon glyphicon-ok-circle"></span></div>
    <div>You have been signed out sucessfully </div>
    <a asp-area="" asp-controller="Home" asp-action="Login"> Login to Sai Matrimony</a>
</div>
