

@{
    ViewData["Title"] = "Sign Out";
}

<div class="alert alert-warning" style="margin:40px;background-color:whitesmoke;">
    <div style="color:darkgreen;font-size:xx-large;padding-bottom:30px;">Signed Out <span class="glyphicon glyphicon-ok-circle"></span></div>
    <div>You have been signed out sucessfully </div>
    <a asp-area="" asp-controller="Home" asp-action="Login"> Provide your feedback by clicking here</a>
</div>
